<div class="container">
  <h2>Edit Product</h2>
  <form action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" name="name" value="{{product.name}}">

    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" name="category" value="{{product.category}}">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" name="price" value="{{product.price}}">
    </div>
    <label for="image" class="form-label">Image</label>
    <img src="/images/productImages/{{product._id}}.jpg" alt="" style="width: 100px;height: 100px;" id="img">
    <div class="input-group mb-3">

      <input type="file" class="form-control" name="image" onchange="viewImage(event)">
      
    </div>

    <button type="submit" class="btn btn-primary ">Update</button>
  </form>
</div>

<script>
  function viewImage(event){
    document.getElementById('img').src=URL.createObjectURL(event.target.files[0])
  }
</script>