<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      
      <th scope="col">Amount</th>
      <th scope="col">Address</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each order}}
    <tr>
        <td>{{this.date}}</td>
        <td>{{this.totalPrice}}</td>
        <td>{{this.address}}</td>
        <td>{{this.paymentMethod}}</td>
        <td>{{this.status}}</td>
      
      
    </tr>
    {{/each}}
   
  </tbody>
</table>
</div>